<div style="text-align:center">

    <h1 style="color: @Color">
        @Title
    </h1>
    <br />
    <br />
    <br />
    <p>
        @PleaseLoginContent
    </p>
    <br/>
    <p>
        <img @attributes="AdditionalAttributes" class="img-fluid" />
    </p>

</div>
