<section>
    <select class="form-control" @onchange="ApplySort">
        <option value="-1">- Sort By -</option>
        <option value="mobileBrand">Brand</option>
        <option value="mobileModel">Model</option>
        <option value="mobileModel desc">Model DESC</option>
    </select>
</section>